@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}


.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-wrapper {
  display: flex;
  width: 507px;
}

.logo {
  margin-right: 30px;
}


.navigation-user {
  width: 268px;
  margin-left: auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-user-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-user-link {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.main {
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-color: #cbc7c7;
  background-image: url("../images/decorative-element.svg"), url("../images/background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.h2-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
}

.content-description {
  font-weight: 400;
  text-align: center;
}

.advantages-wrapper {
  width: 651px;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  background-color: #83B3D31F;
}

.advantages-content {
  margin: 0 auto;
  width: 400px;
}

.advantages-item-basic {
  background-color: #82B3D3;
}

.advantages-item-basic:nth-child(5) {
  flex-direction: row-reverse;
}

.advantages-item-additional {
  background-color: #83B3D333;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}


.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-basic .advantages-subtitle {
  color: #FFFFFF
}

.advantages-item-basic .advantages-description {
  color: #FFFFFF
}

.promo-wrapper {
  width: 505px;
  margin: 0 auto;
}

.promo-service {
  display: flex;
  margin: 0;
  padding: 0;
}

.promo-service-item {
  background-color: #83B3D31F;
}

.promo-service-item-additional {
  background-color: #FFFFFF;
}

.promo-service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.promo-service-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.search {
  width: 592px;
  margin: 0 auto;
}


.search-button {
  display: block;
  background-color: #756157;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none
}


.subscribe-background {
  background-color: #cbc7c7;
  background-image: url("../images/background-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-wrapper {
  width: 684px;
  margin: 0 auto;
}

.h2-title-light {
  color: #FFFFFF;
}

.content-description-light {
  color: #FFFFFF;
}

.button {
  font-family: inherit;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}


.subscribe-form-email input {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  color: #000000;
}

.footer {
  background-color: #FFFFFF;
}

.footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;

}

.social-list {
  margin: 0;
  padding: 0;
}

.social-icon {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}


.contact-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.inner-page {
  background-image: url("../images/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #cbc7c7;
  color: #000000;
}

.inner-page-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.inner-page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.inner-page-breadcrumbs, .filter-catalog-list {
  margin: 0;
  padding: 0;
}

.inner-page-breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.filter-catalog {
  display: flex;
}

.filter-catalog-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.filter-button {
  background-color: transparent;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.filter-button-active {
  background-color: #82B3D3;
}

.catalog {
  width: 1060px;
  margin: 0 auto;
}

.catalog-wrapper {
  display: flex;
}


.catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.catalog-view-list, .product-list {
  margin: 0;
  padding: 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-info {
  background-color: #756157;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card-button {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.product-card-button-accent {
  background-color: #7DB54F;
}

.product-card-rating {
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-link {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-ellipsis {
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}


