@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-inline: auto;
}

.header {
  padding: 0 70px;
  color: #000000;
  background-color: #ffffff;
}


.navigation {
  display: flex;
  column-gap: 30px;
}

.navigation-logo {
  position: relative;
  display: block;
  width: 140px;
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 310px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  list-style-type: none;
}

.navigation-user-link {
  display: block;
  margin-right: 20px;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.navigation-user-button {
  display: block;
  min-width: 160px;
  height: 36px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  background-color: #756157;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.main {
  flex-grow: 1;
  background-color: #ffffff;
}

.hero {
  padding-top: 52px;
  padding-bottom: 69px;
  background-color: #cbc7c7;
  background-image: url("../images/decorative-element.svg"), url("../images/background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.welcome {
  display: block;
  margin-inline: auto;
}

.advantages {
  padding-top: 69px;
}

.advantages-wrapper {
  width: 651px;
  margin-inline: auto;
}

.h2-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 90px;
  font-weight: 400;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  background-color: #83b3d31f;
  list-style-type: none;
}

.advantages-item-big-reversed {
  flex-direction: row-reverse;
}

.advantages-item .advantages-content {
  height: 100%;
  padding: 113px 85px;
}

.advantages-item-big .advantages-content {
  padding: 102px 85px;
}

.advantages-item-big {
  display: flex;
  width: 1200px;
  background-color: #82b3d3;
}


.advantages-item-accent {
  background-color: #83b3d333;
}

.advantages-subtitle {
  padding: 0px 24px;
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-big .advantages-subtitle {
  color: #ffffff;
}

.advantages-item-big .advantages-description {
  color: #ffffff;
}

.promo {
  padding-top: 64px;
}

.promo-wrapper {
  width: 505px;
  margin: 0 auto;
}

.promo-text {
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: 400;
  text-align: center;
}

.promo-service {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promo-service-item {
  display: flex;
  flex-direction: column;
  padding: 81px 85px;
  background-color: #83b3d31f;
}

.promo-service-item-accent {
  background-color: #ffffff;
}

.promo-service-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.promo-service-description {
  width: 230px;
  margin-inline: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.search {
  width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-text {
  margin-top: 0;
  margin-bottom: 54px;
  font-weight: 400;
  text-align: center;
}

.search-button {
  display: block;
  width: 376px;
  height: 52px;
  margin-inline: auto;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-background {
  background-color: #cbc7c7;
  background-image: url("../images/background-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-wrapper {
  width: 684px;
  margin: 0 auto;
}

.h2-title-light {
  color: #ffffff;
}

.subscribe-text {
  margin-top: 0;
  margin-bottom: 54px;
  font-weight: 400;
  text-align: center;
}

.subscribe-text-light {
  color: #ffffff;
}

.button {
  min-width: 232px;
  height: 52px;
  font-family: inherit;
  background-color: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-form-email {
  margin: 0;
  padding: 0;
}

.subscribe-form-email input {
  width: 452px;
  height: 50px;
  padding-left: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
}

.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.footer-wrapper {
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-icon {
  display: block;
  width: 48px;
  height: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.contact-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.logo-developer {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
}

.inner-page {
  padding-top: 35px;
  padding-bottom: 60px;
  background-image: url("../images/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #cbc7c7;
  color: #000000;
}

.inner-page-wrapper {
  padding-left: 70px;
  padding-right: 70px;
}

.inner-page-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.inner-page-breadcrumbs {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.inner-page-breadcrumbs-item {
  margin-bottom: 40px;
}

.inner-page-breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.filter-catalog {
  display: flex;
}

.filter-catalog-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-catalog-group-infrastructure {
  margin-right: 70px;
}

.filter-catalog-group-housing {
  margin-right: 140px;
}

.filter-catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
}

.filter-catalog-title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.filter-catalog-item {
  margin-bottom: 16px;
}

.filter-catalog-item:last-child {
  margin-bottom: 0;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.price {
  margin: 0;
  padding: 0;
  display: flex;
  border: none;
}

.price-title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.price-control .control-input {
  padding: 0;
  width: 143px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.filter-button-wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.filter-button {
  min-width: 191px;
  height: 36px;
  background-color: transparent;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.filter-button-active {
  background-color: #82b3d3;
}

.catalog {
  padding: 50px 70px 60px 70px
}

.catalog-wrapper {
  display: flex;
  align-items: center;
}

.catalog-title {
  margin-top: 0;
  margin-bottom: 46px;
  margin-right: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-bottom: 40px;
  margin-right: 70px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.catalog-view-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.view-button {
  display: block;
  width: 48px;
  height: 48px;
  text-decoration: none;
  font-weight: 400;
  color: #000000;
}

.product-list {
  /*display: flex;
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 0 60px;
  padding: 0;
  list-style-type: none
}

.product-card {
 /* display: flex;
  flex-direction: column;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 16px 20px;
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
}

.product-card-link {
  grid-column: 1/-1;
  text-decoration: none;
}

.product-card-image {
  display: block;
  margin-bottom: 16px;
}

.product-card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

/*.product-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}*/

.product-card-description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-price {
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-info {
  display: block;
  min-width: 140px;
  height: 36px;
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.product-card-button {
  min-width: 140px;
  height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.product-card-button-accent {
  background-color: #7db54f;
}

.product-card-rating {
  width: 140px;
  height: 37px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 16px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  column-gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 12px 14px;
  border-radius: 4px;
  background-color: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-ellipsis {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}


